.box-hamburguer{
  position: fixed;
  left: 10px;
  top: 8%;
  z-index: 9999;
}

.box-hamburguer ul{
  background: linear-gradient(90deg, rgba(26,66,131,1) 0%, rgba(66,185,168,1) 100%);
  list-style-type: none;
  width: 130px;
  height: 200px;
  border-radius: 0 20px 20px 0;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: -30%;
}

.box-hamburguer ul li{
  padding: 5px 0;
}

.box-hamburguer ul li a{
  color: #fff;
  font-weight: 900;
  font-size: 0.8rem;
}

#checkbox-menu{
  position: absolute;
  opacity: 0;
}

.label-menu{
  cursor: pointer;
  position: relative;
  display: block;
  height: 25px;
  width: 35px;
}

.label-menu span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  transition: 0.25s ease-in-out;
}

.label-menu span:nth-child(1){
  top: 0;
}

.label-menu span:nth-child(2){
  top: 12px;
}

.label-menu span:nth-child(3){
  top: 24px;
}

#checkbox-menu:checked + .label-menu span:nth-child(1){
  transform: rotate(-45deg);
  top: 16px;
  background:#f19696;
}

#checkbox-menu:checked + .label-menu span:nth-child(2){
  opacity: 0;
  background: #f19696;
}

#checkbox-menu:checked + .label-menu span:nth-child(3){
  transform: rotate(45deg);
  top: 16px;
  background: #f19696;
}

@media (min-width: 700px){
  .box-hamburguer{
    display: none;
  }
}