.box-hamburguer{
  position: absolute;
  left: 20px;
  top: 15%;
}
  
#checkbox-menu{
  position: absolute;
  opacity: 0;
}

label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 25px;
  width: 35px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 12px;
}

label span:nth-child(3){
  top: 24px;
}

#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 16px;
  background:#565656;
}

#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
  background: #565656;
}

#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top: 16px;
  background: #565656;
}

@media (min-width: 700px){
  .box-hamburguer{
    display: none;
  }
}